<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <!-- INCLUÍNDO HEAD -->
    {% include 'parts/head.html' %}

    <!-- BLOCO SCRIPTS -->
    {% block scripts %}

    {% endblock scripts %}

    <!-- BLOCO TÍTULO -->
    {% block title %}
    {% endblock title %}

</head>
<body>

<!-- BLOCO DE NAVBAR -->


<!-- BLOCO DE CONTEÚDOS -->
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<!-- JS IMPORT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- INCLUÍNDO RODAPÉ -->
{% include 'parts/footer.html' %}
</body>
</html>